# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Airflow logs
logs/

# Airflow metadata
airflow-webserver.pid

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# VS Code settings
.vscode/

# Spark temporary files
metastore_db/
spark-warehouse/

# Jupyter
.ipynb_checkpoints/